<!-- partial file! -->
<div class="form-column">
    <div class="form-item">
        <label>Nome*</label>
        <input class="form-input" type="text" name="name" maxlength="30" value="<%= member.name %>">
    </div>

    <div class="form-item">
        <label>Email*</label>
        <input class="form-input" type="email" name="email" value="<%= member.email %>">
    </div>

    <div class="form-item">
        <label>Telemovel*</label>
        <input class="form-input" type="phone" name="phone" value="<%= member.phone %>">
    </div>

    <% if (member.isNew) { %>
        <div class="form-item">
            <label>Palavra Passe*</label>
            <input class="form-input" type="password" name="password" value="<%= member.password %>">
        </div>
    <% } %>

    <div class="form-item">
        <label>Data de Nascimento*</label>
        <input class="form-input" type="date" name="dateOfBirth" value="<%= member.dateOfBirthFormatted %>">
    </div class="form-item">

    <div class="form-item">
        <label>Cidade*</label>
        <input class="form-input" type="text" name="city" value="<%= member.city %>">
    </div>

    <div class="form-item">
        <label>Descrição</label>
        <textarea class="form-input" name="description" rows="5" maxlength="300" placeholder="Escreva aqui a descrição..."><%= member.description %></textarea>
    </div>

    <% if (!member.isNew) { %>
        <div class="form-item">
            <label>State</label>
                <div class="radio-group">
                <input type="radio" name="state" value="Ativo" id="ativo" <%= member.state === 'Ativo' ? 'checked' : '' %>>
                <label for="ativo">Ativo</label>

                <input type="radio" name="state" value="Inativo" id="inativo" <%= member.state === 'Inativo' ? 'checked' : '' %>>
                <label for="inativo">Inativo</label>
            </div>
        </div>
    <% } %>
</div>
<div class="form-column image-selection">
    <div class="form-item-img">
        <label>Imagem de Perfil</label>
        <label class="image-upload-wrapper">
            <img class="icon" height="100" width="100" src="/assets/modify-icon.png">
            <img class="select" id="imagePreview" height="200" width="200" src="<%= member.profilePicture || '/assets/default.jpg' %>">
            <input class="img-browse" id="imageInput" type="file" name="profilePicture" accept="image/*" value="<%= member.profilePicture %>">
        </label>
    </div>
</div>

<script>
    const imageInput = document.getElementById('imageInput');
    const imagePreview = document.getElementById('imagePreview');

    imageInput.addEventListener('change', function() {
        const file = this.files[0]; 

        if (file) {
            const tempURL = URL.createObjectURL(file);
            
            imagePreview.src = tempURL;

            imagePreview.onload = () => {
                URL.revokeObjectURL(tempURL);
            };
        }
    });
</script>