<div class="search-form-container">
    <form action="member" method="GET">
        <label>Procurar Membro</label>
        <div class="search-form">
            <input class="search-bar" type="text" name="name" placeholder="Nome do Membro" value="<%= searchOptions.name %>">
            <button class="btn btn-primary" type="submit">Procurar</button>
        </div>
    </form>
</div>
<br>
<div class="row">
    <% member.forEach(member => { %>
        <div class="container">
            <div>
                <%= member.name %>
            </div>
            <div>
                <%= member.email.value %>
            </div>
            <div>
                <%= member.state %>
            </div>
            <div class="container-actions">
                <a href="/admin/manage-accounts/member/<%= member.id %>">Perfil</a>
                <a href="/admin/manage-accounts/member/<%= member.id %>/edit">Editar</a>
            </div>
        </div>
    <% }) %>
</div>