<!-- partial file! -->
<div class="form-row">
    <div class="form-item">
        <label>Nome</label>
        <input type="text" name="name" value="<%= user.name %>">
    </div>

    <div class="form-item">
        <label>Telemovel</label>
        <input type="phone" name="phone" value="<%= user.phone %>">
    </div>

    <div class="form-item">
        <label>Email</label>
        <input type="email" name="email" value="<%= user.email %>">
    </div>

    <div class="form-item">
        <label>Palavra Passe</label>
        <input type="password" name="password" value="<%= user.password %>">
    </div>

    <div class="form-item">
        <label>Data de Nascimento</label>
        <input type="date" name="dateOfBirth" value="<%= user.dateOfBirth %>">
    </div class="form-item">

    <div class="form-item">
        <label>Cidade</label>
        <input type="text" name="city" value="<%= user.city %>">
    </div>

    <div class="form-item">
        <label>Descrição</label>
        <input type="text" name="description" value="<%= user.description %>">
    </div>

    <div class="form-item">
        <label>Imagem de Perfil</label>
        <input type="image" name="profilePicture" value="<%= user.profilePicture %>">
    </div>

    <div class="form-item">
        <label>State</label>
        <select name="state">
            <option label="Active" value="Active"></option>
            <option label="Inactive" value="Inactive"></option>
        </select>
    </div>
</div>