<div class="row">
    <div class="form-container">
        <h2>
            <%= customer.name %>
        </h2>
        <ul>
            <li>Email: <%= customer.email %>
            </li>
            <li>Contact: <%= customer.contact %>
            </li>
            <li>Address: <%= customer.address %>
            </li>
            </li>
            <li>State: <%= customer.state %>
            </li>
        </ul>
        <a href="/admin/manage-accounts/customer/<%= customer.id %>/edit">Edit</a>
        <%- include('../../../partials/deleteForm.ejs', { url: `/admin/manage-accounts/customer/${customer.id}` }) %>
    </div>
</div>
<!-- show customer resrevations? -->
<% if (reservationsByCustomer.length> 0) { %>
    <h3>This Customer's Reservations:</h3>
    <div class="row">
        <% reservationsByCustomer.forEach(reservation=> { %>
            <div class="container">
                <img height="150" width="150" src="<%= reservation.room.photoPath %>">
                <a href="/admin/manage-rooms/<%= reservation.id %>">
                    Reservation Room: <%= reservation.room.roomNumber %>
                <a>
            </div>
        <% }) %>
    </div>
<% } %>

<% if (customer.giftCards.length> 0) { %>
    <h3>This Customer's Gift Cards:</h3>
        <div class="row">
            <% customer.giftCards.forEach(giftCard=> { %>
                <div class="container">
                    <ul>
                        <li>Description: <%= giftCard.description %></li>
                        <li>Discount: <%= giftCard.discount %>%</li>
                    </ul>
                </div>
            <% }) %>
        </div>
<% } %>