<div class="profile">
    <div class="form-column">
        <div class="form-container">
            <div class="form-row">

                <div class="form-column" id="memberinfo">
                    <ul>
                        <h2>Detalhes da Empresa de
                            <br>
                            <%= member.name %>
                        </h2>
                        <li>
                            Nome:
                            <span>
                                <%= business.name %>
                            </span>
                        </li>
                        <li>
                            Cargo do Membro:
                            <span>
                                <%= business.role %>
                            </span>
                        </li>
                        <li>
                            Area de Negócio:
                            <span>
                                <%= business.area %>
                            </span>
                        </li>
                        <li class="text-area">
                            Descrição: <span>
                                <%= business.description %>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="form-column">
                    <img class="logo" height="150" src="<%= business.logo || '/assets/defaultLogo.jpg' %>"
                        alt="Foto de <%= business.name%>">
                </div>
            </div>
            <div class="form-options">
                <a class="btn btn-primary circle"
                    href="/admin/manage-accounts/member/<%= member.id%>/business/<%= business.id%>/edit">
                    <img class="char" height="20" src="/assets/edit-icon.png">
                </a>
                <form
                    action="/admin/manage-accounts/member/<%= member.id %>/business/<%= business._id %>/delete?_method=PATCH"
                    method="POST" onsubmit="return confirm('Tem certeza que deseja remover esta empresa?')">
                    <button class="btn btn-danger circle" type="submit">
                        <img class="char" height="20" src="/assets/trash-can.png">
                    </button>
                </form>
                <a class="btn btn-primary" href="/admin/manage-accounts/member/<%= member.id %>">
                    Voltar
                </a>
            </div>
        </div>
    </div>
</div>