<div class="form-container">
    <div class="form-column">
        <ul>
            <h2>Perfil Admin</h2>
            <li>
                Nome:
                <span>
                    <%= admin.name %>
                </span>
            </li>
            <li>
                Email:
                <span>
                    <%= admin.email %>
                </span>
            </li>
            <li>
                Estado da Conta:
                <span>
                    <%= admin.state %>
                </span>
            </li>
        </ul>
        <div class="form-options">
            <a class="btn btn-primary" href="/admin/manage-accounts/admin/<%= admin.id %>/edit">Editar</a>
            <% if(admin.state=='Inativo' && admin.id != user.id ){ %>
                <%- include('../../../partials/deleteForm.ejs', { url: `/admin/manage-accounts/admin/${admin.id}`}) %>
            <% } %>
        </div>
    </div>
</div>