<div class="row">
    <div class="form-container">
        <h2>
            Nome: <%= admin.name %>
        </h2>
        <h2>
            Email: <%= admin.email %>
        </h2>
        <h2>
            Estado da Conta: <%= admin.state? "Ativo" : "Inativo" %>
        </h2>
        <div class="form-options">
            <a class="btn btn-primary" href="/admin/manage-accounts/admin/<%= admin.id %>/edit">Edit</a>
            <%- include('../../../partials/deleteForm.ejs', { url: `/admin/manage-accounts/admin/${admin.id}` }) %>
        </div>
    </div>
</div>