<!-- <div class="row"> -->
    <div class="form-container">
        <ul>
            <h2>Perfil Admin</h2>
            <li>
                Nome: <%= admin.name %>
            </li>
            <li>
                Email: <%= admin.email %>
            </li>
            <li>
                Estado da Conta: <%= admin.state %>
            </li>
        </ul>
        <div class="form-options">
            <a class="btn btn-primary" href="/admin/manage-accounts/admin/<%= admin.id %>/edit">Edit</a>
            <% if(admin.state == 'Inativo'){ %>
                <%- include('../../../partials/deleteForm.ejs', { url: `/admin/manage-accounts/admin/${admin.id}`}) %>
            <% } %>
        </div>
    </div>
<!-- </div> -->